.cart-link {
    display: block;

    &__label,
    &__count--long {
        .screenreader();
    }

    &__icon {
        display: block;
        fill: #000;
        width: 1em;

        svg {
            display: block;
        }
    }

    &__counter {
        display: block;
        font-size: 1.8em;
        position: relative;

        &.has-items {
            .cart-link__count {
                display: inline-block;
            }
        }
    }

    &__count {
        background-color: @primary-color;
        border-radius: 50%;
        color: #fff;
        display: none;
        font-size: .75rem;
        line-height: 1.5;
        text-align: center;
        position: absolute;
        right: -.5em;
        top: -.5em;
        height: 1.5em;
        width: 1.5em;
    }
}
