.fotorama__stage__frame .fotorama__img {
    top: 0;
    left: 0;
    margin: 0 auto;
    right: 0;
    transform: none;
}

.fotorama__stage__shaft {
    position: absolute;
}

.fotorama__thumb-border {
    border-color: @primary-color;
}
