.minicart-wrapper {
    margin-left: var(--horizontal-spacing-unit);
    position: relative;
}

.block-minicart {
    background-color: hsl(255, 255, 255);
    padding: var(--vertical-spacing-unit) var(--horizontal-spacing-unit);
    position: absolute;
    right: 0;
    z-index: 10;
}
