.pages {
    .label {
        .screenreader();
    }

    .item {
        &:not(.pages-item-next):not(.pages-item-previous) {
            display: none;

            @media screen and (min-width: @medium-breakpoint) {
                display: inherit;
            }
        }
    }

    .page {
        display: block;
        padding: var(--spacing-unit) var(--spacing-unit);
    }
}

.pages-items {
    align-items: center;
    display: flex;
}

.pages-item-next,
.pages-item-previous {
    margin: 0 var(--spacing-unit);
}
