.toolbar-top {
    .pages,
    .sorter,
    .toolbar-amount {
        display: none;
    }

    .modes {
        float: right;
    }
}

.toolbar-bottom {
    .modes,
    .limiter,
    .sorter,
    .toolbar-amount {
        display: none;
    }

    .pages {
        float: right;
    }
}