.products-crosssell {
    --type-product-item-medium-width: 100% / 3;
    --type-product-item-large-width: 25%;
    --type-product-item-xlarge-width: 20%;
}

.widget-viewed-grid {
    --type-product-item-medium-width: calc(100% / 3);
    --type-product-item-large-width: 25%;
    --type-product-item-xlarge-width: 20%;
}

.cart-empty {
    padding-bottom: 6vh;
    text-align: center;

    .buttons-group {
        display: flex;
        margin: 0 auto;
        max-width: 24rem;
        justify-content: center;
    }

    .button {
        flex: 1 1 0;
    }
}

.cart-empty-heading {
    font-size: 1.4rem;
    font-weight: 500;
}

.cart-empty-content {
    margin-bottom: calc(var(--spacing-unit) ~"*" 3);

    p {
        margin: calc(var(--spacing-unit) ~"/" 2) 0;
    }
}

.checkout-cart-index {
    --show-navbar: none;

    @media screen and (min-width: @medium-breakpoint) {
        --show-navbar: block;
    }

    .page-title {
        padding-left: 0;
        padding-right: 0;
    }

    .table-caption {
        display: none;
    }

    // TODO: Refactor
    .crosssell {
        margin: calc(var(--spacing-unit) ~"*" 2) 0;
    }

    .crosssell .title {
        font-size: 1.2em;
        text-transform: uppercase;
    }

    .crosssell .title strong {
        font-weight: 400;
    }

    .checkout-methods-items {
        margin: var(--spacing-unit) 0;
    }

    .block.discount {
        max-width: 30em;
        .card();

        .label {
            .screenreader();
        }
    }

    .block.shipping {
        display: none;
        .card();

        dd {
            margin-left: 0;
        }
    }
}

.cart-summary {
    .primary {
        width: 100%;
    }

    .summary.title {
        .screenreader();

        display: block;
        font-size: 1.5em;
        font-weight: 400;
        margin: var(--spacing-unit) 0;
        text-transform: uppercase;
    }
}

.cart-list {
    margin-top: calc(var(--spacing-unit) ~"*" 2) 0;

    .item {
        background-color: #fff;
        border-bottom: 1px solid rgba(0, 0, 0, .1);
        display: flex;
        padding: calc(var(--spacing-unit) ~"*" 2) 0;
    }

    .item-options {
        font-size: .857rem;

        &:after {
            clear: both;
        }

        &:before,
        &:after {
            content: " ";
            display: table;
        }

        dt,
        dd {
            float: left;
            margin: 0;
        }

        dt {
            clear: both;
            margin-right: 3px;
        }

        dt:after {
            content: ":";
        }
    }

    .item-image {
        padding: 0 var(--spacing-unit);
        width: 150px;
    }
}

.cart.actions {
    display: none; // temp
}

.cart-totals {
    .card();
    margin: 0 auto;

    .amount {
        text-align: right;
    }

    .grand.totals {
        font-size: 1.2em;
    }
}

.item-info {

}

@media screen and (min-width: @medium-breakpoint) {
    .cart-container {
        margin: 0 auto;
        max-width: 1000px;
    }

    .form-cart {
        margin: calc(var(--spacing-unit) ~"*" 3) auto;
    }

    .cart-summary {
        float: right;
        width: 50%;
    }

    .checkout-cart-index .block.discount {
        float: left;
        margin-top: 0;
        margin-left: 0;
        width: 40%;
    }

    .cart-list .item-info {
        align-items: center;
        display: inline-flex;
        flex-grow: 1;
        justify-content: space-between;
        padding: 0 calc(var(--spacing-unit) ~"*" 3);
    }
    // .cart-container {
    //     display: grid;
    //     grid-template: 1fr min-content ~"/" 2fr 0.6fr;
    //     grid-template-areas: "main sidebar" "main2 sidebar2" "main3 sidebar3";
    //     grid-row-gap: var(--spacing-unit);
    // }

    // .cart-summary {
    //     grid-area: sidebar;
    // }

    // .form-cart {
    //     grid-area: main;
    // }

    // .gift-options-cart {
    //     grid-area: main2;
    // }

    // .block.discount {
    //     grid-area: main3;
    // }
}
