@border-color-active: hsl(0, 0, 0);
@link-color: hsl(0, 2%, 12%);

@base-font-size: 0.875em;

@primary-color: #1d1d1d;
@secondary-color: hsl(0, 2%, 12%);

@success-color: rgba(10, 135, 84, .9);
@error-color: rgba(214, 15, 15, 0.9);
@notice-color: rgba(47, 119, 209, .9);

@background-grey: #f5f5f5;
@border-color: hsl(0, 0%, 75%);
@border-dark-color: #858585;
@subtext-color: #505050;
@text-color: #1d1d1d;

@radii-small: 2px;
@radii-medium: 5px;
@radii-large: 10px;

@card-box-shadow: 0 2px 4px rgba(177, 162, 162, 0.18);
@hover-shadow: 1px 4px 6px rgba(177, 162, 162, 0.18);
@distant-shadow: 0 1px 16px 3px rgba(177, 162, 162, 0.18);
@modal-shadow: 1px 5px 25px 0 rgba(177, 162, 162, 0.18);

@small-breakpoint: 480px;
@small-medium-breakpoint: 600px;
@medium-breakpoint: 740px;
@large-breakpoint: 1200px;
@extra-large-breakpoint: 1600px;
@site-max-width: 1680px;

@bar-height: 56px;

.screenreader() {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

:root {
    --site-max-width: @site-max-width;
    --spacing-unit: .571rem;
    --primary-color: @primary-color;
    --background-grey: @background-grey;
}
