//
// This partial is for Base element styling only.
// If it is not an element selector or pseudo class of a base element
// then it does not belong in this file.
//

*,
*:before,
*:after {
    box-sizing: inherit;
}

html,
body {
    box-sizing: border-box;
    color: @text-color;
    font: 400 15px/1.5 'Source Sans Pro', sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    height: 100%;
    text-rendering: optimizeLegibility;

    @media screen and (min-width: @medium-breakpoint) {
        font-size: 14px;
    }
}

::selection {
    background-color: hsl(0, 0, 0);
    color: hsl(255, 100%, 100%);
}

body {
    .fonts-loaded & {
        font-family: 'Source Sans Pro', sans-serif;
    }
}

[disabled] {
    cursor: not-allowed;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

// HTML5 responsive video //
video {
    height: auto;
    width: 100%;
}

// Basic responsive imagery //
img {
    height: auto;
    max-width: 100%;
}

// Interactions should have pointer //
label,
a,
button,
select,
input[type="submit"] {
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    margin: 2em 0;
}

h1 {
    font-size: 2rem;
    font-weight: 400;
}

h2 {
    font-size: 1.8rem;
    font-weight: 400;
}

h3 {
    font-size: 1.6rem;
    font-weight: 400;
}

h4 {
    font-size: 1.4rem;
}

h5 {
    font-size: 1.2rem;
}

h6 {
    font-size: 1rem;
}

a {
    color: @link-color;
    text-decoration: none;
    transition: .3s color ease-in-out;
    -webkit-tap-highlight-color: transparent;

    &:hover,
    &:focus {
        color: @primary-color;
        outline: none;
    }

    &:active {
        outline: 0;
    }
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;

    ul {
        margin: 0;
        padding: 0;
    }
}

label {
    display: inline-block;
    margin: .25em 0;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="submit"],
textarea,
button {
    -webkit-appearance: none;
    border: 1px solid @border-color;
    border-radius: 0;
    font-family: 'Source Sans Pro', sans-serif; // Required due to yosemite overwriting unless explicitly defined
    font-size: 1rem;
    padding: .75rem;

    &:focus {
        transition: border-color .2s ease-in-out;
        border-color: @border-color-active;
        outline: none;
    }
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea {
    width: 100%;

    &:focus {
        border: 1px solid @border-color-active;
        outline: none;
    }
}

input[type="checkbox"],
input[type="radio"] {
    display: inline-block;
    vertical-align: middle;
}

input[type="checkbox"]~label {
    margin-left: 5px;
}

textarea {
    resize: vertical;
}

input::-moz-focus-inner,
button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

select {
    width: 100%;
}

iframe,
object,
embed {
    max-width: 100%;
}

button,
a.button {
    -webkit-tap-highlight-color: transparent;
    border-color: hsl(0, 0, 0);
    background-color: hsl(0, 0, 0);
    color: hsl(255, 100%, 100%);
    display: inline-block;
    font-size: 1.1em;
    font-weight: 600;
    outline: none;
    min-width: 180px;
    padding: .75rem;
    text-align: center;
    user-select: none;

    &::-moz-focus-inner {
        border: 0;
    }

    &:focus,
    &:hover {
        background-color: lighten(hsl(0, 0, 0), 25%);
        border-color: hsl(0, 0, 0);
    }

    &:active {
        background-color: hsl(255, 100%, 100%);
        color: hsl(0, 0, 0);
    }

    &:disabled {
        background-color: hsl(0, 0, 0);
        color: hsl(255, 100%, 100%);
        cursor: not-allowed;
        opacity: .5;
    }
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

p {
    margin: var(--vertical-spacing-unit) 0;

    &:empty {
        margin: 0;
    }
}

blockquote,
q {
    quotes: '\201C""\201D""\2018""\2019';

    &:before {
        content: open-quote;
    }

    &:after {
        content: close-quote;
    }

    p {
        display: inline;
    }
}

hr {
    border: 0;
    display: block;
    height: 1px;
    width: 100%;
}

strong {
    font-weight: 600;
}

em {
    font-style: italic;
}

table {
    text-align: left;
    width: 100%;
}
