//
// This partial is for Base element styling only.
// If it is not an element selector or pseudo class of a base element
// then it does not belong in this file.
//

*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    font-size: @base-font-size;
}

body {
    background-color: var(--background-color, @background-grey);
    box-sizing: border-box;
    color: @text-color;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.45;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    height: 100%;

    @media screen and (min-width: @medium-breakpoint) {
        font-size: 14px;
    }
}

::selection {
    background-color: hsl(0, 0, 0);
    color: hsl(255, 100%, 100%);
}

body {
    .fonts-loaded & {
        font-family: 'Open Sans', sans-serif;
    }
}

[disabled] {
    cursor: not-allowed;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

// HTML5 responsive video //
video {
    height: auto;
    width: 100%;
}

// Basic responsive imagery //
img {
    height: auto;
    max-width: 100%;
}

// Interactions should have pointer //
label,
a,
button,
select,
input[type="submit"] {
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: @text-color;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: inherit;
    line-height: 1.2;
    margin: 1.414em 0 0.5em;
}

h1 {
    margin-top: 0;
    font-size: 2.441em;
}

h2 {
    font-size: 1.953em;
}

h3 {
    font-size: 1.563em;
    font-weight: 400;
}

h4 {
    font-size: 1.25em;
}

h5 {
    font-size: 1.25em;
}

h6 {
    font-size: 1.25em;
}

@media screen and (min-width: @medium-breakpoint) {
    h1 {
        font-size: 3.05em;
    }
    
    h2 {
        font-size: 2.44em;
    }
    
    h3 {
        font-size: 1.95em;
    }
    
    h4 {
        font-size: 1.5625em;
    }
    
    h5 {
        font-size: 1.5625em;
    }
    
    h6 {
        font-size: 1.5625em;
    }
}

small {
    font-size: 0.8em;
}

a {
    color: @link-color;
    font-weight: 600;
    text-decoration: none;
    transition: .2s color ease-out;
    -webkit-tap-highlight-color: transparent;

    &:hover,
    &:focus {
        color: @subtext-color;
        outline: none;
    }

    &:active {
        outline: 0;
    }
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;

    ul {
        margin: 0;
        padding: 0;
    }
}

label,
legend {
    color: @subtext-color;
    display: inline;
    font-size: 1.1em;

    &[data-required]:after {
        content: attr(data-required);
        color: @subtext-color;
        font-size: .7em;
        margin-left: 3px;
    }

    &[data-required="*"]:after {
        color: @error-color;
    }
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="submit"],
textarea {
    -webkit-appearance: none;
    border: 0;
    border-bottom: 1px solid @border-color;
    border-radius: 0;
    font-family: 'Open Sans', sans-serif; // Required due to yosemite overwriting unless explicitly defined
    font-size: 1rem;
    padding: var(--spacing-unit) 0;

    &:focus {
        transition: border-color .3s ease-in;
        border-color: @border-color-active;
        outline: none;
    }
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea {
    width: 100%;

    &:focus {
        border-bottom-color: @border-color-active;
        outline: none;
    }
}

input[type="checkbox"],
input[type="radio"] {
    border: 1px solid @border-color;
    cursor: pointer;
    display: inline-block;
    height: 1.2em;
    margin-top: -1px;
    vertical-align: middle;
    width: 1.2em;
    -webkit-appearance: none;

    &[disabled] {
        cursor: not-allowed;
        opacity: .5;
    }
}

input[type="checkbox"] {
    border-radius: 2px;

    &:hover,
    &:focus,
    &[disabled],
    &:checked[disabled] {
        border-color: var(--primary-color);
    }

    &:checked {
        background: url(../images/icons/check.svg) center/contain no-repeat #000;
        border-color: inherit;
    }
}

input[type="radio"] {
    border-radius: 50%;

    &:hover,
    &:focus,
    &[disabled],
    &:checked[disabled] {
        border-color: var(--primary-color);
    }

    &:checked {
        background-color: #000;
        border-color: inherit;
        box-shadow: inset 0 0 0px 2px #fff;
    }
}

input[type="checkbox"]~label {
    margin-left: 5px;
    vertical-align: middle;
}

textarea {
    resize: vertical;
}

input::-moz-focus-inner,
button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

button {
    -webkit-appearance: none;
    background: none;
    border: 0;
    line-height: inherit;
    padding: 0;
}

select {
    align-items: center;
    background: #fff url('../images/icons/dropdown-arrow.svg') no-repeat 98%;
    border: 1px solid #c5c8ce;
    border-radius: @radii-medium;
    display: inline-flex;
    font-family: 'Open Sans', sans-serif;
    padding: .5em 1em;
    width: 100%;
    -webkit-appearance: none;
}

form {
    br {
        display: none;
    }
}

iframe,
object,
embed {
    max-width: 100%;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

p {
    margin-bottom: 1.3em;

    &:empty,
    &:blank {
        margin: 0;
    }
}

blockquote,
q {
    quotes: '\201C""\201D""\2018""\2019';

    &:before {
        content: open-quote;
    }

    &:after {
        content: close-quote;
    }

    p {
        display: inline;
    }
}

hr {
    border: 0;
    display: block;
    height: 1px;
    width: 100%;
}

strong {
    font-weight: 600;
}

em {
    font-style: italic;
}

table {
    text-align: left;
    width: 100%;
}
